<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ - Exclusive</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div th:replace="~{fragments :: header}"></div>

    <main>
        <h2>Đây là vùng nội dung thân trang (Main Content)</h2>
        <p>Phần này sẽ tự động cuộn, trong khi Header ở trên và Footer ở dưới luôn được giữ cố định.</p>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>Kéo xuống để xem Footer...</p>
    </main>

    <div th:replace="~{fragments :: footer}"></div>

</body>
</html>